[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
pillow = "*"
welcome-bot-app = {file = "src", editable = true}
telethon = "*"
sqlalchemy = "*"

[dev-packages]
ruff = "*"
pytest = "*"
pytest-asyncio = "*"
mypy = "*"
pre-commit = "*"
pytest-timeout = "*"

[requires]
python_version = "3.11"
